@media (max-width: 1632px) {
  .nav1 {
    font-size: 11px;
  }
}

@media (max-width: 1445px) {
  #trusted + h1 {
    font-size: 41px;
  }
  #exp {
    font-size: 14px;
  }

  .banner-btns span {
    font-size: 13px;
  }
  .button-overlay {
    width: 80%;
  }

  /* .search-btn + button {
    font-size: 8px !important;
  } */

  /* .frame18 .blueButton{
  width: 130px;
  height: 56px;

} */
}

@media (max-width: 1342px) {
  .nav1 {
    font-size: 8px;
  }
}

@media (max-width: 1233px) {
  .frame3,
  .frame11 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .navNew {
    padding: 16px 0px;
  }
  .frame29 {
    justify-content: center;
  }
  #logoDiv {
    margin-bottom: 70px;
  }
  .up {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .linkDiv {
    align-items: center;
  }
  #anchorDiv {
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1270px) {
  .frame29 p {
    margin-right: 167px;
  }
  #cardImg {
    width: 100%;
    height: auto;
  }
  .footer-logo {
    justify-content: center;
  }
  .linkDiv {
    align-items: center;
    justify-content: center;
  }
  .links {
    align-items: center;
  }
  .anchorDiv {
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }
}

@media (min-width: 1041px) {
  .navbar-expand-custom .navbar-collapse {
    display: none !important;
  }
  .navbar-expand-custom .navbar-toggler {
    display: block !important;
  }
  .banner2Img .col-6 {
    padding: 0 !important;
    margin: 0;
    box-sizing: content-box;
  }
}

@media (max-width: 1165px) {
  .carousel-control-prev .crousel-icon-cont {
    left: 40px;
  }
  .carousel-control-next .crousel-icon-cont {
    right: 40px;
  }
}

@media (max-width: 1024px) {
  .nav1 {
    font-size: 8px;
  }
  .privacy-p a {
    font-size: 11px !important;
  }

  .privacy-p + div {
    font-size: 11px !important;
  }

  .socials div {
    width: 20px;
    height: 20px;
  }

  /* .search-btn + button {
    font-size: 8px !important;
    height: 30px;
    padding: 8px 16px !important;
  } */
  .search-btn {
    width: 40px;
    height: 40px;
  }
  .border + span {
    font-weight: 400;
    font-size: 10px;
    line-height: 26px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
  }

  #trusted {
    font-size: 9px;
    line-height: 14px;
  }

  .frame3 {
    font-size: 10px !important;
  }
  .frame11 {
    font-size: 10px !important;
  }
  .frame9,
  .frame8,
  .frame7,
  .frame10 {
    gap: 9px;
  }
  .frame8 > span {
    font-size: 10px;
  }

  .our-services h1 {
    font-size: 34px !important;
  }

  .col-lg-4 p {
    font-size: 16px;
  }
  .doctorimg {
    height: 100px !important;
    width: 100px !important;
  }
  .doccard {
    margin-top: 30px;
  }

  .frame21 {
    width: 384px !important;
  }
  .carousel1 {
    height: 464px;
  }
}

@media (min-width: 996px) {
  .frame41 {
    width: 490px;
  }
}

@media (max-width: 996px) {
  .frame26 .custom-row {
    flex-direction: column;
  }
  .formDiv {
    justify-content: center;
  }
  .accordion-button {
    width: 100%;
  }
  .accordion-body {
    width: 100%;
  }
  .row .col-12 {
    justify-content: center;
  }
  .row .c3,
  .row .c2 {
    justify-content: center;
  }
  .frame26 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .meet-our {
    font-size: 34px;
  }

  .frame25 {
    text-align: center;
    align-items: center;
    margin-top: 60px;
  }
  .frame23 {
    width: 60%;
  }
  .frame25 h2 {
    font-size: 34px;
  }

  .frame26 button,
  .frame26 span {
    align-self: center;
  }

  .navbar-toggler {
    display: block;
  }
  .custom-collapse {
    display: none; /* hide desktop nav */
  }
  .frame18 {
    display: none; /* hide right buttons */
  }
  .polycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame29 {
    flex-direction: column;
    align-items: center;
    /* gap: 70px; */
  }
  .frame29 p {
    margin-right: 0;
  }
  .banner-content {
    gap: 6px !important;
  }
  .our-services {
    align-items: center;
  }
  /* .frame23 {
    margin-right: 10px;
  } */
  .links {
    align-items: center;
  }
  .frame29 {
    gap: 20px;
  }
  #lastText {
    justify-content: center;
    align-items: center;
  }
  .test-form .col-12 {
    display: flex;
  }
  .testimonial-card {
    margin-right: 0;
  }
  #exp {
    width: 400px;
  }
  .frame25 ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: fit-content;
  }
}

@media (min-width: 992px) {
    /* .c2 {
        flex: 0 0 auto;
        width: %;
    } */
}

/* @media (min-width: 650px) and (max-width: 996px) {
  .card-col .card {
    width: 80%;
  }
} */

@media (min-width: 768px) {
  .navbar-collapse {
    display: flex;
    flex-direction: row-reverse !important;
    align-items: flex-start;
    justify-content: space-between;

    width: 100vw !important;

    margin-top: 14px !important;
  }
  .banner2 + p {
    white-space: nowrap;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 1360px;
    /* padding: 0px 84px; */
  }
}

@media (max-width: 770px) {
  #exp {
    font-size: 14px;
  }

  #anchorDiv {
    gap: 20px;
  }
  .linkDiv h4 {
    font-size: 16px;
  }
  .links a {
    font-size: 14px;
  }
  .frame41 h3{
  font-size: 28px;
}
.frame41 form{
  font-size: 14px;
}

  /* .imgDiv {
    max-height: 544px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; 
    z-index: -1; 
    overflow: hidden;
  } */

  /* .imgDiv img {
    width: 100%;
    height: auto;
  } */
  .carousel-control-prev .crousel-icon-cont {
    left: 36px;
  }
  .carousel-control-next .crousel-icon-cont {
    right: 36px;
  }

  .crousel-icon-cont {
    height: 45px;
    width: 45px;
  }
  .appointment-btn {
    height: 50px;
    margin-top: 5% !important;
  }
  /* .accordion-button {
    width: 500px ;
  }
  .accordion-body {
    width: 100% ;
  } */

  .links {
    align-items: center !important;
  }
  .frame8 {
    display: none;
  }
}

@media (max-width: 661px) {
  .border {
    width: 26px !important;
    height: 26px !important;
  }
  .border {
    padding: 7px 7px;
  }
  .fr #trusted + h1 {
    font-size: 20px;
  }
  #trusted {
    font-size: 6px;
    line-height: 3px;
  }

  .frame7 {
    gap: 4px;
  }

  .blueButton {
    white-space: normal; /* allow text to wrap */
    border-radius: 20px;

    padding: 9px 14px;
  }
  .frame29 {
    margin-top: 35px;
  }

  .blueButton + button {
    padding: 1px 4px !important;
    white-space: normal !important; /* allow text to wrap */
    border-radius: 20px !important;
  }
  #anchorDiv {
    gap: 11px;
  }
  .banner2 h1 {
    font-size: 33px;
  }

  .blueButton span {
    font-size: 8px !important;
  }

  .banner-btns {
    gap: 7px !important;
  }

  .blueButton + button span {
    padding: 12px 14px !important; /* reduce height */
    font-size: 8px !important; /* slightly smaller text */
    white-space: normal !important; /* allow text to wrap */
    border-radius: 20px !important;
  }
  .crousel-icon-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
  }

  .carousel1 {
    height: 300px;
  }

  .border + span {
    padding: 0px;
    font-size: 9px;
  }
  select {
    font-size: 9px;
  }
  #exp {
    font-size: 10px;
  }
  #our-services-btn {
    width: 130px;
    height: auto;
    padding: 2px 10px;
    font-size: 10px;
    margin-bottom: 20px;
  }
  .badge {
    font-size: 10px;
    font-size: 10px;
    margin-bottom: 20px;
    padding: 0px 18px;
  }
  #flag-icon {
    height: 21px;
    width: 21px;
  }
}

@media (max-width: 540px) {
  #anchorDiv {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .frame25 h2 {
    font-size: 23px;
  }
  #flag-icon {
    height: 13px;
    width: 13px;
  }
  .meet-our {
    font-size: 23px;
  }

  .frame29 {
    --bs-gutter-x: 0rem !important;
  }
  .specialist-header p {
    font-size: 10px;
  }
  #trusted + h1 {
    font-size: 15px;
  }
  .carousel-control-prev .crousel-icon-cont {
    left: 15px;
  }
  .carousel-control-next .crousel-icon-cont {
    right: 15px;
  }

  .row {
    --bs-gutter-x: 0rem !important;
  }
  #exp {
    width: 242px;
  }
  .frame3,
  .frame11 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .border + span {
    font-size: 7px;
  }
  select {
    font-size: 7px;
  }
  .frame10,
  .frame7 {
    gap: 4px !important;
  }

  .border {
    width: 20px !important;
    height: 20px !important;
  }
  .border {
    padding: 5px 5px;
  }

  /* .frame23 img {
    width: 297px !important;
  } */

  .accordion-button {
    font-size: 10px;
  }
  .accordion-body {
    font-size: 8px;
  }
  .frame21 {
    width: 244px !important;
  }
  .mb-md-0 {
    margin-top: 16px;
  }
  #socials {
    margin-top: 16px;
  }
  /* .doctors-slider {
    padding: 50px 0px !important;
  } */

  .carousel1 {
    height: 230px;
  }

  /* #exp {
    font-size: 9px;
  } */
  .frame25 p,
  .frame25 ul {
    font-size: 10px;
  }
  .frame25 {
    text-align: center;
  }
}

@media (max-width: 376px) {
  .frame9,
  .frame8,
  .frame7,
  .frame10 {
    gap: 3px !important;
  }
  .frame3 {
    font-size: 7px !important;
  }

  #flag-icon {
    height: 10px;
    width: 10px;
  }
  /* #country {
    width: 40px;
  } */
  #arrow svg {
    width: 10px;
    height: 10px;
  }
  #navLogo {
    height: auto;
    width: 144px;
  }
}

@media (max-width: 321px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .navbar-brand img {
    width: 50%;
    height: 50%;
  }
  .border + span {
    font-size: 6px;
  }
  .banner2 + p {
    white-space: normal;
  }
  .frame11 {
    flex-direction: row;
  }
  .navNew {
    justify-content: space-between;
  }
  .frame11 {
    height: 67px !important;
  }
}
