@media (max-width: 1445px) {
  #trusted + h1 {
    font-size: 41px;
  }
  #exp {
    font-size: 13px;
  }

  .banner-btns span {
    font-size: 13px;
  }
  .button-overlay {
    width: 80%;
  }
  .search-btn + button {
    font-size: 8px !important;
  }
}

@media (max-width: 1342px) {
  .nav1 {
    font-size: 8px;
  }
}

@media (max-width: 1233px) {
  .frame3,
  .frame11 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .navNew {
    padding: 12px 0px;
  }
}

@media (min-width: 1041px) {
  .navbar-expand-custom .navbar-collapse {
    display: none !important;
  }
  .navbar-expand-custom .navbar-toggler {
    display: block !important;
  }
}

@media (max-width: 1024px) {
  .nav1 {
    font-size: 8px;
  }

  .search-btn + button {
    font-size: 8px !important;
    height: 30px;
    padding: 8px 16px !important;
  }
  .search-btn {
    width: 40px;
    height: 40px;
  }

  #trusted {
    font-size: 9px;
    line-height: 14px;
  }

  .frame3 {
    font-size: 10px !important;
  }
  .frame11 {
    font-size: 10px !important;
  }
  .frame9,
  .frame8,
  .frame7,
  .frame10 {
    gap: 14px !important;
  }

  .our-services h1 {
    font-size: 34px !important;
  }

  .col-lg-4 p {
    font-size: 16px;
  }
  .doctorimg {
    height: 100px !important;
    width: 100px !important;
  }
  .doccard {
    margin-top: 30px;
  }

  .frame21 {
    width: 384px !important;
  }
  .frame23 img {
    width: 474px !important;
  }
}

@media (max-width: 996px) {
  .frame26 .custom-row {
    flex-direction: column;
  }
  .meet-our{
    
    font-size: 34px;
  }

  .frame25 {
    text-align: center;
  }
  .frame25 h2 {
    font-size: 34px;
  }

  .frame26 button,
  .frame26 span {
    align-self: center;
  }

  .navbar-toggler {
    display: block;
  }
  .custom-collapse {
    display: none; /* hide desktop nav */
  }
  .frame18 {
    display: none; /* hide right buttons */
  }
  .polycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-content {
    gap: 6px !important;
  }
  .our-services {
    align-items: center;
  }
  .frame23 {
    margin-right: 10px;
  }
  .links{
    align-items: center;
  }
}

@media (min-width: 650px) and (max-width: 996px) {
  
  .card-col .card{
    
    width: 80%;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    display: flex;
    flex-direction: row-reverse !important;
    align-items: flex-start;
    justify-content: space-between;

    width: 100vw !important;

    margin-top: 14px !important;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 1360px;
  }

  

  /* .frame41 {
    max-width: 100% !important;
  } */



 
}

@media (max-width: 768px) {
  #exp {
    font-size: 9px;
  }

  .footer-logo{
  justify-content: center;
}

   /* .imgDiv {
    max-height: 544px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; 
    z-index: -1; 
    overflow: hidden;
  } */

  /* .imgDiv img {
    width: 100%;
    height: auto;
  } */

  
  .crousel-icon-cont {
    height: 45px;
    width: 45px;
  }
  .appointment-btn {
    height: 50px;
    margin-top: 5% !important;
  }
  /* .accordion-button {
    width: 500px ;
  }
  .accordion-body {
    width: 100% ;
  } */

  .links {
    align-items: center !important;
  }
}

@media (max-width: 661px) {
  .frame8 {
    display: none !important;
  }
  .border {
    width: 26px !important;
    height: 26px !important;
  }
  #trusted + h1 {
    font-size: 20px;
  }
  #trusted {
    font-size: 6px;
    line-height: 2px;
  }

  .blueButton {
    white-space: normal; /* allow text to wrap */
    border-radius: 20px;

    padding: 9px 14px;
  }

  .blueButton + button {
    padding: 1px 4px !important;
    white-space: normal !important; /* allow text to wrap */
    border-radius: 20px !important;
  }
  .banner2 h1{
    font-size: 33px;
  }

  .blueButton span {
    font-size: 8px !important;
  }

  .banner-btns {
    gap: 7px !important;
  }

  .blueButton + button span {
    padding: 12px 14px !important; /* reduce height */
    font-size: 8px !important; /* slightly smaller text */
    white-space: normal !important; /* allow text to wrap */
    border-radius: 20px !important;
  }
  .crousel-icon-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
  }

  #exp {
    font-size: 6px;
  }
  #our-services-btn {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .badge{
    font-size: 10px;
    font-size: 10px;
    margin-bottom: 20px;
    padding: 0px 18px;
  }
}

@media (max-width: 480px) {
  .frame25 h2 {
    font-size: 23px;
  }

  .meet-our{
    
    font-size: 23px;
  }


  .frame29 {
    --bs-gutter-x: 0rem !important;
  }
  .specialist-header p{
    font-size: 10px;
  }
  #trusted + h1 {
    font-size: 15px;
  }
  .row {
    --bs-gutter-x: 0rem !important;
  }
  .frame3,
  .frame11 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .frame23 img {
    width: 297px !important;
  }

  .accordion-button {
    font-size: 10px;
  }
  .accordion-body{
    font-size: 8px;
  }
  .frame21 {
    width: 244px !important;
  }
  .mb-md-0 {
    margin-top: 16px;
  }
  #socials {
    margin-top: 16px;
  }
  .doctors-slider {
    padding: 50px 0px !important;
  }

  
  #exp {
    font-size: 4px;
  }
  .frame25 p,
  .frame25 ul {
    font-size: 10px;
  }
  .frame25 {
    text-align: center;
  }
}

@media (max-width: 376px) {
  .frame9,
  .frame8,
  .frame7,
  .frame10 {
    gap: 8px !important;
  }
  .frame3 {
    font-size: 7px !important;
  }
}

@media (max-width: 321px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 0; /* removes gutter-x */
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand img {
    width: 50%;
    height: 50%;
  }
  .frame11 {
    flex-direction: row !important;
  }
  .navNew {
    justify-content: space-between;
  }
  .frame11 {
    height: 67px !important;
  }
}
