@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist";
}

html {
  font-size: 16px;
}

body {
  font-family: "Urbanist", Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}

.frame3 {
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 120px;
  padding-right: 120px;

  background-color: #032c94;
}
header {
  padding: 0 !important;
  margin: 0 !important;
}

.border {
  border: 1px solid white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border svg {
  padding: 0.5px 0.5px;
}

.phone {
  font-family: "Urbanist";
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
}

.frame5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.frame10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 21px;
}

.frame9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.frame7,
.frame8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#flag-icon {
  height: 24px;
  width: 24px;
}

#flag-icon img {
  height: 100%;
  width: 100%;
}

.frame9,
.frame8,
.frame7 {
  gap: 21px;
}

select {
  background: none;
  outline: none;
  border: none;
  color: white;
  appearance: none;
  text-align: center;
}

option {
  background: teal;
  color: white;
}

.frame7 {
  gap: 5px;
}
#country {
  position: relative;
  display: flex;
  align-items: center;
}

#country-dropdown {
  appearance: none; /* hide default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  padding-right: 25px;
  color: white;
}

#arrow {
  position: absolute;
  right: 5px;
  pointer-events: none; /* ensures only select is clickable */
}

#arrow svg {
  display: block;
  transition: transform 0.3s ease;
}

/* Rotate only the SVG when open */
#arrow.is-open svg {
  transform: rotate(180deg);
}

.nav1 {
  font-family: "Urbanist";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000d44;
}
#flag-icon img {
  border-radius: 50%;
  object-position: center;
  transform: scale(1.05);
}

.navbar-nav {
  display: flex !important;
  justify-content: space-between !important;
}

.navbar-expand-custom .navbar-nav {
  flex-direction: column;
}
.navbar-nav .nav-link {
  color: #000d44;
  -webkit-text-stroke: 0 transparent; /* no stroke initially */
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  font-weight: 500; /* keep weight same */
  -webkit-text-stroke: 0.6px #000d44; /* simulate bold without resize */
}

.navbar {
  height: 100px;
  box-shadow: 0px 10px 20px 0px #021d350f;
  padding-left: 100px;
  padding-right: 100px;
}

.search-btn {
  border: 1px solid #d8dde1;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blueButton {
  background: linear-gradient(180deg, #044bce 37.5%, #ddebff 100%);
  border-radius: 30px;
  color: white;
  border: none;
  padding: 22px 16px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  white-space: nowrap;
  transition: all 0.7s ease;
}

.blueButton:hover{
  box-shadow: 0px 3px 15px 0px #AEBDD3B2;

}

.button-overlay {
  height: 50%;
  width: 86%;
  position: absolute;
  top: 1px;
  left: 50%;
  border-radius: 30px;
  transform: translateX(-50%);
  background: linear-gradient(
    180deg,
    #a9c6ff 0%,
    rgba(169, 199, 255, 0) 78.65%
  );
  backdrop-filter: blur(2px);
  z-index: -1;
}
.blueButton span {
  z-index: 1;
}

.frame18 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.carousel1 {
  position: relative;
  max-width: 1920;
  max-height: 740px;
  z-index: 1;
}

.carousel1 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  z-index: 1;
  object-position: center;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000073;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 3;
}

.banner-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  gap: 50px;
}

.blueButton + button {
  color: white;
  border: 1px solid white;
  background: transparent;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
  padding: 20.5px 32px;
  text-transform: uppercase;
}

.carousel-control-prev > span,
.carousel-control-next > span {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 22px 26px;
   
  */
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#trusted {
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #1a1a1a;
  background-color: #ffffff;
  border-radius: 99px;
  padding: 4px 18px;
}

#trusted + h1 {
  font-family: "Urbanist";
  font-weight: 700;
  font-style: Bold;
  font-size: 74px;
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: white;
}

.banner-btns {
  display: flex;
  gap: 18px;
}

#exp {
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 127%;
  vertical-align: middle;
  text-transform: capitalize;
  color: white;
}


.blueButton:hover{
  box-shadow: 0px 3px 15px 0px #AEBDD3B2;
}

.sev-btn{

  position: relative;
  transition: all 0.7s ease;
}

.sev-btn:hover{
  border: 1px solid white(255, 0, 0, 0.1);
  
  box-shadow: 0px 3px 15px 0px #AEBDD3B2;
}

.sev-btn div{
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.sev-btn:hover div {
  opacity: 1;
  
}
.sev-btn span{
  z-index: 2;
  position: relative; /* important */
}

.gradient-overlay{
  
  background: linear-gradient(180deg, #044BCE 37.5%, #DDEBFF 100%);

  opacity: 0;
  inset: 0;
  z-index: 0;

}


.gradient-overlay{
  position: absolute;            /* stretch across full button (padding + content) */
  border-radius: inherit;     /* match button radius */
  background: linear-gradient(90deg, #044bce, #ddebff);
  z-index: 0;     
}

.frame26{
  background-color: red;
}

.frame26 .container{
  background-color: black;
}

.frame23{
  max-width: 550px;
  position: relative;
}

.frame23 img{
  height: 100%;
  width: 100%;
  
  border-radius: 16px;
}

.polygon{
  position: absolute;
  max-width: 226px;
   top: 0%;
  right: 10px;
  box-sizing: content-box !important;
}

.polygon img{
  height: 100%;
  width: 100%;
  
  border-radius: 16px;
}




.custom-row {
  display: flex;
  justify-content: space-evenly; /* space between on lg+ */
  align-items: center;
}


#our-services-btn{
  padding: 4px 18px;
  border: none;
  background-color: #032C94;
  border-radius: 99px;
  color: white;
  max-width: 162px;

}

#our-services-btn + h1{
  font-family: 'Urbanist';
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;


}

.our-services{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.view-btn{
  box-sizing: content-box;
}